<div class="home">
  <h1>{{title}}</h1>
  <p class='version'>Using store <strong>{{getName}} version {{getVersion}}</strong> by "{{author}}"</p>
  <p class="bold">Messages: 
    <span v-if="this.isMessagesLoaded === false">Loading...</span>
  </p>
  <ul class="messages-list">
    <li v-for="item in getMessages">
      {{ item.message }}
    </li>
  </ul>
  <p class="bold">Todos: 
    <span v-if="this.isTodosLoaded === false">Loading...</span>
  </p>
  <ul class="todos-list">
    <li v-for="item in getTodos">
      {{ item.todo }}
    </li>
  </ul>
</div>
